<html>
<head>
	<title></title>
</head>
<body>
	<form action ='/clucks' method ="post">
		  <p>
    <input type="text" name='new_cluck' placeholder="Cluck your message here...">
    <input type="text" name='tags' placeholder="Add any tags here...">
  </p>

  <p>
    <input type="submit" value="Cluck!" class="button">
  </p>
	</form> 
</body>
</html>