<html>
<head>
	<title></title>
</head>
<body>
	<form action="/users" method="post">
		<p><input type="text" name="name" placeholder="Name"></p>
		<p><input type="text" name="email" placeholder="Email"></p>
		<p><input type="text" name="user_name" placeholder="Username"></p>
		<p><input type="password" name="password" placeholder="Password"></p>
		<p><input type="password" name="password_confirmation" placeholder="Re-enter password"></p>
		<p><input type="submit" value="Start Clucking"></p>
</body>
</html>