<html>
<head>
	<title></title>
</head>
<body>
	<form action="/users" method="post">
		Name:<input type="text" name="name">
		Email:<input type="text" name="email">
		Username:<input type="text" name="user_name">
		Password:<input type="password" name="password">
		Re-enter password:<input type="password" name="password_confirmation">
		<input type="submit" value="Start Clucking">
</body>
</html>