<html>
<head>
	<title></title>
</head>
<body>
	<section class="input_form">
	<h1 class="form_header" >Enter a new password</h1>

	<form action="/users/set_new_password" method ="post">
		<input name="password" type="password" placeholder="New password">
		<input name="password_confirmation" type="password" placeholder="Re-enter password">
		<input type="submit" class="form_button" value="Submit password">
		<input type="hidden" name ="email" value=<%=@user.email%>>
	</form>
	<br style="clear: both">
</section>

</body>
</html>