<html>
<head>
	<title></title>
</head>
<body>

	<% @clucks.each do |cluck| %>
	<p>
	<%= cluck.text %>
	<%= cluck.time %>
	<%= User.get(cluck.user_id).name %>
	<%= User.get(cluck.user_id).user_name %>
	</p>
	<% end %> 

</body>
</html>	