<html>
<head>

	<link type="text/css" href="/css/styles.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
	</div id="header">
		<div id="title"><a href="/"><img src="/images/small_yellow_chicken.png">Clucker</a></div>
			<% if current_user %>
				<div id="tag-line">Welcome, <%=current_user.user_name %></div>
				<div id="sign-out">
					<form id = 'sign-out' method='post' action='/sessions'>
						<input type="hidden" name="_method" value="delete">
						<input type="submit" class="button" id="sign-out-button" class="nav_links" value="Sign out">
					</form>
				</div>

			<% else %>
				<div id="sign-up"><a class="button" href="/users/new">Sign Up</a></div>
				<div id="sign-in"><a class="button" href="/sessions/new">Sign In</a></div>
			<% end %>
		</div>
	</div>
	
</header>

<section id="page_body">
	<% if current_user %>
		<a id = "chicken-link" href="/clucks/new"><img id ="new-cluck-image" src="/images/small_yellow_chicken.png"></a>
		<a id ="add-cluck" class="button" href="/clucks/new">New cluck!</a>
	<% end %>

	<%= partial :flash%>

	<%=yield%>
</section>

</body>
</html>