<html>
<head>
	<title></title>
</head>
<body>
	<% if current_user %>
		Welcome, <%=current_user.user_name %>
		<form id = 'sign-out' method='post' action='/sessions'>
			<input type="hidden" name="_method" value="delete">
			<input type="submit" id="sign-out" class="nav_links" value="Sign out">
		</form>
	<a href="/clucks/new">New cluck!</a>
	<% end %>
	
	<%= partial :flash%>

	<%=yield%>
</body>
</html>